- name: Install containerd
  apt:
    name: containerd
    state: present
    update_cache: true

- name: Create containerd config directory
  file:
    path: /etc/containerd
    state: directory
    mode: '0755'

- name: Create containerd config
  shell: |
    containerd config default > /etc/containerd/config.toml

- name: Enable systemd cgroup
  replace:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup = false'
    replace: 'SystemdCgroup = true'

- name: Restart containerd
  systemd:
    name: containerd
    state: restarted
    enabled: true
